
{{rec.errand.title}} <font size='1'> <i class='pull-right' {{rec.errand.updated_at}} </i> </font><br>
{{rec.errand.description}} by {{rec.written_by}} &nbsp; &nbsp;
 <span class='pull-right'> 
 	{{#each tags in rec.errand.tag}} 
 
 			{{tags}}
 	{{/each}}
 </span>
<hr>