
{{rec.errand.title}} <font size='1'> <i class='pull-right' {{rec.errand.updated_at}} </i> </font><br>

{{#each attributes in rec.errand.description.attributes}} 
	{{attributes.label}}&nbsp; &nbsp; {{attributes.value}} <br>
{{/each}}
by {{rec.written_by}} &nbsp; &nbsp;
 <span > 
 	{{#each tags in rec.errand.tag}} 
 		<button class='btn btn-default btn-xs pull-right disabled' {{action 'showBy' tags this 'tags' on='click'}}>   
 			{{tags}}
 		</button>
 	{{/each}}
 </span>

<hr>
