<br>
Title: {{input type="text" value=errandVar.title size="50"}}<hr>
{{#each data in  errandVar.description.attributes}}
	{{input type="text" value=data.label placeholder="Label" }}
	{{input type="text" value=data.value placeholder="value"}} <br>
{{/each}} 
<span {{action 'addDescriptionAttributes' this on="click"}} <button><i class="fa fa-plus-square-o clearfix fa-2x"></i></button></span>
<hr>
Tags: {{input type="text" value=errandVar.tag size="50"}} 
<hr>
<label>
  {{view Ember.Checkbox checkedBinding="errandVar.privy"}}
  Only me
</label> <hr>


<button class='btn btn-success btn-sm' {{action 'errandStore' on='click' }}> Post </button>
<button class='btn btn-danger btn-sm' {{action 'errandCancel' on='click' }}> Cancel </button><br>