<br>
<form  role="form">
	<div class="form-group">
	{{input type="text" value=errandVar.title  placeholder="Title" size="50" class="form-control"}}
	</div>
</form>

{{#each data in  errandVar.description.attributes}}
<div class="row">
  <div class="col-lg-3">
    <div class="input-group">

      {{input type="text" value=data.label placeholder="label" class="form-control" size="60"}} 
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-9">
    <div class="input-group">
      {{input type="text" value=data.value placeholder="value" class="form-control"  }}
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" {{action 'addDescriptionAttributes' data on="click"}}>
            <i class="fa fa-plus fa-1x"></i>
        </button>
        <button class="btn btn-default" type="button" {{action 'removeDescriptionAttributes' data on="click"}}>
            <i class="fa fa-minus fa-1x"></i>
        </button>
      </span>
    </div>
  </div>

</div>

{{/each}} 
<br>
<form  role="form">
	<div class="form-group">
		{{input type="text" value=errandVar.tag size="50" placeholder="tags" class="form-control"}} 
	</div>
</form>
<div class="checkbox">
<label>
  {{view Ember.Checkbox checkedBinding="errandVar.privy"}}
  Only me
</label>
</div> <hr>


<button class='btn btn-success btn-sm' {{action 'errandStore' this on='click' }}> Post </button>
<button class='btn btn-danger btn-sm' {{action 'errandCancel' on='click' }}> Cancel </button><br>