				<div class="panel panel-default" >
	  			<div class="panel-body">
					<div class="row">
					  <div class="col-lg-1">
					  	<i class="fa fa-user fa-5x" {{bind-attr style="rec.color"}}></i>
					  </div>
					  <div class="col-lg-11">
					<h4>{{rec.errand.title }}  <font size='1'><i class='pull-right' {{rec.errand.updated_at}} </i> </font></h4>

					{{#each attributes in rec.errand.description.attributes}} 
						{{attributes.label}}&nbsp; &nbsp; {{attributes.value}} <br>
					{{/each}}
					
					<font size="1" class="pull-right"> posted by <a {{action 'showBy' rec.id this 'user' on='click'}} > {{rec.written_by}} </a>  </font>
					&nbsp; &nbsp;
					 <span > 
					 	{{#each tags in rec.errand.tag}} 
					 		<button class='btn btn-default btn-xs pull-left' {{action 'showBy' tags this 'tags' on='click'}}>   
					 			{{tags}}
					 		</button>
					 	{{/each}}
					 </span>
					 </div>
					 </div>
					 </div>
					 </div>