
<div {{action 'checkForGroup' on='keyUp'}}>
{{input type="text" valueBinding="groupName" size="50" }}
{{#if controller.joinGroup}}
	<button class='btn btn-primary btn-xs' {{action 'groupChoose' on='click'}}> Join Group </button>
{{else}}
	<button class='btn btn-primary btn-xs' {{action 'groupChoose' on='click'}}> Create Group </button>
{{/if}}

</div>