&nbsp; &nbsp;<a href="/home/logout" class="btn btn-primary btn-sm pull-right"> Logout </a>&nbsp; &nbsp;
<button class='btn btn-danger btn-sm pull-right' {{action 'refreshRec' this on='click' }}> Refresh </button> 

 		<hr>
		{{#if showadderrand}}
			<div class="panel panel-default">
			<div class="panel-body">
				{{view view.errandView}}
			</div>
			</div>
		{{else}}
		<div class="btn-group btn-group-justified">
			<div class='btn-group'>
			<button class='btn btn-warning btn-lg' {{action 'errandAdd' this on='click' }}> Post Information </button> 
			</div>

		</div>
		{{/if}}
		<div id="out"></div>
		<div class='pull-right'>
		<b>Display by </b>{{view Ember.Select content=uniqueUserListHash  optionValuePath="content.id" optionLabelPath="content.username" value=selectedUser class="form-control"}}
		</div>
		{{#if is_approved}}
			<hr>
			<div  >
				{{#each rec in unApproved}}
					<div class='alert alert-danger'> Does  {{rec.name}} belong to your family? if yes, <button class='btn btn-success btn-sm' {{action 'approveUser' rec on='click'}}> Approve </button> </div>
				{{/each}}
			</div>

			<div style="background-color:#E6E6FA" >
			{{#each rec in controller.recentAdded}}
			<div class="panel panel-default">
  			<div class="panel-body">

				<p class="text-primary"> {{rec.title }} <font size='1'> <i class='pull-right'> {{rec.updated_at}} </i> </font> </p>


					{{#each attributes in rec.description.attributes}} 
						{{attributes.label}}&nbsp; &nbsp; {{attributes.value}}&nbsp; &nbsp; <br>
					{{/each}}
					by {{this.name}} &nbsp; &nbsp;
					 <span > 
					 	{{#each tags in rec.errand.tag}} 
					 		<button class='btn btn-default btn-xs pull-right disabled' {{action 'showBy' tags this 'tags' on='click'}}>   
					 			{{tags}}
					 		</button>
					 	{{/each}}
					 </span>
				</div>
				</div>						 
			{{/each}}	
			</div>		
			{{#if defaultView}}

				{{#each rec in recordFormat}}

						{{view view.dashboardView}}				 
					 
				{{/each}}
			{{else}}
				{{#if controller.byTags}}
				<button class='btn btn-primary btn-sm' {{action 'backToDefault' this on='click'}}> 
					<i class="fa fa-long-arrow-left"></i> Back To Dashboard 
				</button>
				{{/if}}
				<hr>
				{{#each rec in controller.newListOrder}}
					{{dashboard-updates rec=rec}}
				{{/each}}
			{{/if}}

		{{else}}	
		 	<div class="alert alert-success">You need to be approved by family </div>	
		 {{/if}}
		 <hr>


