
<div class="row">
  	<div class="col-md-2">
  	</div>
 	<div class="col-md-8">
		{{#if showadderrand}}
			<div class="panel panel-default">
			<div class="panel-body">
				{{view view.errandView}}
			</div>
			</div>
		{{else}}
		<button class='btn btn-default btn-sm' {{action 'errandAdd' this on='click' }}> Add errand </button>
		<button class='btn btn-primary btn-sm pull-right' {{action 'refreshRec' this on='click' }}> Refresh </button>
		{{/if}}
		<hr>
		<div style="background-color:#E6E6FA" >
		{{#each rec in controller.recentAdded}}

			<p> {{rec.title}} on <i class='pull-right'> {{rec.updated_at}} </i>  </p>
			{{rec.description}}  by {{this.name}} &nbsp; &nbsp; tags: {{rec.tag}}
			<hr>
		{{/each}}	
		</div>		
		{{#each rec in recordFormat}}
			{{rec.title}} on <i class='pull-right' {{rec.updated_at}} </i> <br>
			{{rec.description}} &nbsp; &nbsp; tags: {{rec.tag}}
			<hr>
		{{/each}}			
	</div>
	<div class="col-md-2">
	</div>
</div>