<!DOCTYPE html>
<html>
<head>
  <title>Familybook</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  	<div class="col-md-2">
  	</div>
 	<div class="col-md-8">
		<%= yield %>
	</div>
	<div class="col-md-2">
	</div>
</div>


</body>
</html>
